
body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;


    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.form-container {
    background-color: white;
    width: 360px;
    padding: 20px;
    border-radius: 12px;
    
}


label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}


input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;

    border-radius: 10px;
    border: 1px solid #ccc;

    font-size: 14px;
}

textarea {
    height: 130px;
    resize: none;
}

button {
    width: 100%;
    padding: 14px;

    background-color: #111827;
    color: white;

    border: none;
    border-radius: 10px;

    font-size: 16px;
    cursor: pointer;
}


button:hover {
    background-color: #000;
}
