body{
    padding: 60px 80px 0px 80px;
}



.container{
    background-color: rgb(68, 66, 66);
    height: 50vh;   
    max-width: 1440px;

}

.card{
    padding: 50px;
    width: 600px;
    height: 310px;
    background-color: #a9a9a9;
    border-radius: 45px;
    filter: drop-shadow(0 5px #191A23);
    border: 1px solid #131314;
    display: flex;
    justify-content: space-between;
}



.titlebg{
    background-color: #baff66;
    width: fit-content;
    pad: 7px;
    border-radius: 7px;
    font-size: 30px;
}

.cardtitlecontainer{
    display: flex;
    flex-direction: column;
}


.leanrmore .button{
    width: 41px;
    height: 41px;
    background-image: url("Icon\ \(9\).svg");
}


.learnmore{
    display: flex;

}

.learnmore span{
    font-size: 20px;
}




