*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
}

.flexer {
   display: flex;
   align-items: center;
}

.navigation {
   padding: 12px 100px 12px 100px;
   display: flex;
   justify-content: space-between;
}

.logotext{
   font-size: 40px;
   font-family: sans-serif;
   font-weight: bolder;
   margin-left: 5px;   
}

.rightnav{
   font-size: 14px;
   font-family: sans-serif;
   display: flex;
}

.rightnav li{
   margin: 14px;
}

.Register{
   width: 136px;
   height: 36px;
   background-color: #388E3B;
   border: none;
   color: white;
   border-radius: 3px;
   padding: 9px 22px 9px 22px;
}

.Register img{
   margin-left: 3px;

}

.container{
    padding: 66px 100px 66px 100px;
    background-color: #f5f7fa;
    display: flex;
    justify-content: space-between;
}

.mainleft h1{
    font-size: 70px;
    font-family: sans-serif;

}

.mainleft h1 span{
    color: lime;
}

.mainleft p{
    font-family: sans-serif;
    color: gray;
    margin-top: 12px;
    margin-bottom: 22px;
}

.mainright img{
    width: 374px;
    height: 384px;

}



.clients {
  padding: 60px 100px;
  background-color: white;
  text-align: center;
  font-family: sans-serif;
}

.clients-inner {
  max-width: 1100px;
  margin: 0 auto;
}

.clients-title {
  font-size: 28px;
  margin-bottom: 8px;
  margin-top: 260px;
}

.clients-subtitle {
  font-size: 14px;
  color: gray;
  margin-bottom: 40px;
}

.clients-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;

}

.clients-logos img {
  height: 55px;
}

.clients-heading {
  font-size: 34px;
  margin-bottom: 10px;
  text-align: center;
  
}

.clients-small {
  font-size: 14px;
  color: gray;
  
}

.clients-small-text{
    font-size: 15px;
    text-align: center;
}

.community-cards {
  display: flex;
  gap: 25px;
  margin-top: 40px;
}

.community-card {
  flex: 1;
  background: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  text-align: center;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0 auto 15px;
  background: #e9f7ef;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 44px;
  height: 34px;
}

.gilaki{
  width: 105px;
  height: 37px;
background-color: #388E3B;
margin-top: 23px;
border: none;

}

.exp {
  font-family: sans-serif;
}


.expmtavari{
    display: flex;
  align-items: center;
  justify-content: flex-start

}

.satauri{
  margin-bottom: 23px;
}

.foto{
width: 707px;
height: 701px;
}


.caringmain{
font-family: sans-serif;
  display: flex;
 align-items: center;
 flex-direction: column;
}




.caringmain p{
  color: gray;
text-align: center;


}

.subbox{
  font-family: sans-serif;
 box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  background-color: rgb(255, 255, 255);
  width: 220px;
  height: 120px;
 position: relative;
 bottom: 50px;
 left: 20px; 
 text-align: center;
 padding: 12px;
}

.carebutton{
  width: 100%;
background-color: transparent;
border: none;
cursor: pointer;
margin-top: 12px;

}

.rame{
  display: flex;
  justify-content: space-around;
  
}

.cont{
  background-color: gray;
  width: 165px;
  height: 22px;
  border: none;

}

.cont img{
  position: relative;
  left: 140px;
bottom: 17px;
}

.cont ::placeholder{
  color:white
}

